# TRATAMENTO DE DADOS

**TMDB 5000 Movie Dataset**

## Importando arquivo

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"Banco de dados filmes(TB_Principal).csv", sep=";")
df.head()

,Orçamento,ID do Filme,Língua Original,Resumo,Popularidade Não tratado,Popularidade,Data de Lançamento,Receita,Duração,Status do Filme,Título,Média de Avaliação,Quantidade de Avaliações,Unnamed: 13,Unnamed: 14
0,"$237.000.000,00",19995,en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"150,437577",2009-12-10,"$2.787.965.087,00",162.0,Released,Avatar,"7,2",11800,NaN,NaN
1,"$300.000.000,00",285,en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"139,082615",2007-05-19,"$961.000.000,00",169.0,Released,Pirates of the Caribbean: At World's End,"6,9",4500,NaN,NaN
2,"$245.000.000,00",206647,en,A cryptic message from Bond’s past sends him o...,107.376788,"107,376788",2015-10-26,"$880.674.609,00",148.0,Released,Spectre,"6,3",4466,NaN,NaN
3,"$250.000.000,00",49026,en,Following the death of District Attorney Harve...,112.312950,"112,312950",2012-07-16,"$1.084.939.099,00",165.0,Released,The Dark Knight Rises,"7,6",9106,NaN,NaN
4,"$260.000.000,00",49529,en,"John Carter is a war-weary, former military ca...",43.926995,"43,926995",2012-03-07,"$284.139.100,00",132.0,Released,John Carter,"6,1",2124,NaN,NaN

In [4]:
#limpando colunas vazias

df = df.drop(columns=["Unnamed: 13", "Unnamed: 14"])

In [6]:
#Convertendo colunas numéricas

# Função para limpar valores monetários
def limpar_valor(valor):
    if pd.isna(valor):
        return np.nan
    return float(valor.replace("$", "").replace(".", "").replace(",", "."))

df["Orçamento"] = df["Orçamento"].apply(limpar_valor)
df["Receita"] = df["Receita"].apply(limpar_valor)

KeyError: 'Orçamento'